section{
    width: 1920px;
    height: 900px;
    padding: 2rem 4rem;
 
}
.hello{ 
     width: 1800px;
     height: 690px;
     display: flex;

}
.texto {
    width:750px;
    height: 640px;
    padding: 1rem;
    flex-direction: row;
  
}
.hola {
    margin: 30px;
    font-size: 34px;
}
.sarah{
    margin: 30px;
    font-size: 74px;
}
.creator{
    margin: 20px;
    font-size: 40px;
}
.few{
    margin: 20px;
    font-size: 24px;
}
.imagen{
    width: 850px;
    height: 640px;
    flex-direction: row;
}
.persona{
    width: 700px;
    height: 581px;
}
.redes{
    width: 1600px ;
    padding: 3rem;
    display: flex;
    flex-direction: row;
}
.face{
    height: 40px;
    padding: 7px ;
    flex-direction: row;
}
.li{
    height: 40px;
    padding: 7px ;
    flex-direction: row;
}
.be{
    height: 40px;
    padding: 7px ;
    flex-direction: row;
}
.twi{
    height: 40px;
    padding: 7px ;
    flex-direction: row;

}