header{
    width: 1920px;
    height: 133px;
    padding: 1rem 2rem ;
}
.logo{
    width: ;
    height: 130px;
    padding: 3rem;
    
}
.lupa{
    height: 130px;
    padding: 4rem;   
}
.menu{
    height: 130px;
    padding: 3rem;
}